body {
    font-family: Arial, Helvetica, sans-serif;
    color: #241F1C;
}

a {
    text-decoration: none;
}

.container-fluid{
    overflow: hidden;
}

li {
    list-style-type: none;
}


footer {
    background-color: #A19F9E;
    color: #F2EEED;
}

.footer-text{
    color:#241F1C;
}

.socials{
    color: #241F1C;
}


/* styling for navbar */
.navbar {
    background-color: #41585A;
}

.nav-link, .navbar-brand{
    color: #F2EEED;
}


/* styling for buttons */

.btn-color{
    background-color: #9A602A;
    color: #F7F7F7;
}

.btn-delete{
    background-color: #9A602A;
    color: #F7F7F7;
    font-size: 13px;
}

.btn-search{
    border-color: #9A602A;
    color: #9A602A;
}

.btn-add{
    background-color: #41585A;
    color: #F7F7F7;
}


/* styling for book cards */
.book-title{
    color:  #41585A;
    font-size: 18px;
    text-decoration: underline;
}

.author{
    color:#A19F9E;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
}


.card-text{
    color:  #9A602A;
    font-style: italic;
}

/* Styling for overview bookcase owners */
.list-group-item{
    color:#41585A;
    font-size: 18px;
    font-weight: 500;
}

.badge{
    background-color:#9A602A;
}

/* styling for user bookcase */
.btn-drop{
    background-color: #F2EEED;
    border-color: #A19F9E;
    font-size: 13px;
}

.dropdown-item {
    font-size: 13px;
}

.book-title-bookcase{
    font-size: 14px;
}

.cover{
    object-fit: fill;
}


/* Styling for messages */
.success{
    background-color: #A19F9E;
    border-color: #F2EEED;
    color:#241F1C;
}

.error{
    background-color: #380205;
    border-color: #F2EEED;
    color:#F2EEED;
}




