{% load static %}

<!DOCTYPE html>
<html class="h-100">
<html lang="en">

<head>
    <title>FavoReads</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="An online bookcase application">
    <meta name="keywords" content="Book, Reading, Books, Bookcase, Community">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-dark navbar-text">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">FavoReads</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_bookcase' %}">My Bookcase</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bookcases' %}">Bookcases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'submit_book' %}">Submit a Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <main class="flex-shrink-0 main-bg">
        <div class="col-md-8 offset-md-2" id="message-container">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}

    </main>

    <!-- Footer -->
    <footer class="d-flex mt-auto">
        <div class="container-fluid">
            <div class="row mt-5 mb-3">
                <div class="col-md-6 text-center">
                    <p class="footer-text">This website has been built by Merel Moehn for educational purposes</p>
                </div>
                <div class="col-md-6 text-center">
                    <a href="https://www.facebook.com/" target="_blank" aria-label="Open Facebook on new tabe">
                        <i class="fab fa-facebook-square fa-2x socials"></i>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank" aria-label="Open Instagram on new tabe">
                        <i class="fab fa-instagram fa-2x socials"></i>
                    </a>
                    <a href="https://twitter.com" target="_blank" aria-label="Open Twitter on new tabe">
                        <i class="fab fa-twitter fa-2x socials"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script>
        let messageContainer = document.getElementById('message-container');
        setTimeout(function () {
            for (let message of messageContainer.children) {
                let alert = new bootstrap.Alert(message);
            alert.close();
            }
        }, 2500);
    </script>
</body>

</html>