{% extends "base.html" %}
{% if user.is_authenticated %}
{% block content %}

<div class="container-fluid">
    <div class="row text-center">
        <div class="col mt-5">
            <h1>This is the bookcase of: {{ bc_owner.username }}</h1>
            <p>You can click on each book to see the detail page. On this detail page you can add the book to your own
                bookcase.</p>
        </div>
    </div>

    <div class="row mt-3 mb-3 text-center justify-content-center">
        {% for book in books %}
        <div class="col-sm-6 col-xl-2">
            <div class="card m-2" style="max-width: 240px;">
                <div class="card-body">
                    <div class="image-container">
                        {% if "book_preview" in book.book.featured_image.url %}
                        <img class="card-img-top"
                            src="https://res.cloudinary.com/duz5vkvkt/image/upload/v1672925793/Book_greenleave_small_ayqdym.png"
                            alt="Book with green leave">
                        {% else %}
                        <img class="card-img-top" src=" {{ book.featured_image.url }}" alt="Image of book">
                        {% endif %}
                        <div class="image-flash">
                            <p class="author">Author: {{ book.book.author }}</p>
                        </div>
                    </div>
                    <a href="{% url 'book_detail' book.book.slug  %}">
                        <h2 class="book-title">{{ book.book.title }}</h2>
                        <p class="card-text">{{ book.book.excerpt }}</p>
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Sorry. There are no books in this bookcase.</p>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if books.has_previous %}
            <li><a href="?page={{ books.previous_page_number }}" class="btn btn-color page-link">&laquo; PREV </a>
            </li>
            {% endif %}
            {% if books.has_next %}
            <li><a href="?page={{ books.next_page_number }}" class="btn btn-color page-link"> NEXT</a></li>
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}
{%endif%}