{% extends "base.html" %}

{% block content %}

<div class="container-fluid g-0">
        <div class="row">
            <div class="col-md-6 text-center align-self-center">
                <h1>Welcome to Favoreads</h1>
                <p>The place for daily book inspiration.</p>
                {% if user.is_authenticated %}
                <p>Is this your first time here? Start by submitting a book!</p>
                <a class="btn btn-color" href="{% url 'submit_book' %}">Submit a book!</a>
                {% else %}
                <p>Is this your first time here? Let's get you registered!</p>
                <a class="btn btn-color" href="{% url 'account_signup' %}">Let's get started!</a>
                {% endif %}
            </div>
            <div class="col-md-6">
                <img src="https://res.cloudinary.com/duz5vkvkt/image/upload/v1672922204/bookcase_blue_vhu8v2.jpg"
                    class="img-fluid" alt="hero image of bookcase">
            </div>
        </div>

        <div class="row m-5">
            <div class="col-md text-center">
                <i class="fa-2x fas fa-book"></i>
                <h4>Add Books</h4>
                <p>Contribute to the book database by uploading a book. Approval happens by the admin</p>
            </div>
            <div class="col-md text-center">
                <i class="fa-2x fas fa-book-reader"></i>
                <h4>Manage Your Bookcase</h4>
                <p>Create your own personal bookcase and share what you're reading with others.</p>
            </div>
            <div class="col-md text-center">
                <i class="fa-2x fas fa-lightbulb"></i>
                <h4>Get Inspired</h4>
                <p>Browse other users and see their bookcase to get inspiration for your next book.</p>
            </div>
        </div>

        <div class="col">
            <div class="row mt-5 text-center">
                <h4>Can't wait to get inspired? <small class="text-muted">Three books you want to read:</small></h4>
                </div>
                <div class="row mt-5">
                {% for book in book_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "book_preview" in book.featured_image.url %}
                                <img class="card-img-top"
                                    src=https://res.cloudinary.com/duz5vkvkt/image/upload/v1672925793/Book_greenleave_small_ayqdym.png
                                    alt="Book with green leave">
                                {% else %}
                                <img class="card-img-top" src=" {{ book.featured_image.url }}" alt="Image of book">
                                {% endif %}
                                <div class="image-flash">
                                </div>
                            </div>
                            <a href="{% url 'book_detail' book.slug  %}">
                                <p class="author">Author: {{ book.author }}</p>
                                <h4 class="book-title">{{ book.title }}</h4>
                            </a>
                            <p class="card-text">{{ book.excerpt }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

    {%endblock%}