{% extends "base.html" %}
{% if user.is_authenticated %}
{% block content %}


<div class="container-fluid">
    <div class="row text-center">
        <div class="col mt-5 mb-3">
            <h1>Hi {{ user.username }}, welcome to your bookcase!</h1>
        </div>
    </div>
    <div class="row mb-2">
        {% for book in books %}
        <div class="col-sm-6 col-xl-4 d-flex align-items-stretch justify-content-center">
            <div class="card m-2 p-0" style="max-width: 410px;">
                <div class="row g-0">
                    <div class="col-xl-6 align-self-center d-flex p-2">
                        {% if "book_preview" in book.book.featured_image.url %}
                        <img src="https://res.cloudinary.com/duz5vkvkt/image/upload/v1673118594/book_glasses_coffee_duifbx.jpg"
                            class="img-fluid" alt="Image of Book">
                        {% else %}
                        <img class="img-fluid" src=" {{ book.book.featured_image.url }}" alt="Image of book">
                        {% endif %}
                    </div>
                    <div class="col-xl-6 text-center">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h2 class="book-title-bookcase"> {{ book.book }} </h2>
                                </div>
                                <div class="col-12 m-1">
                                    <form action="{% url 'delete_bookcase_book' book.book.id %}" method="POST">
                                        {% csrf_token %}
                                        <button class="btn btn-delete" type="submit" name="book"
                                            value="{{book.book.id}}">Delete</button>
                                    </form>
                                </div>
                                <div class="col-12">
                                    <div class="dropdown-center">
                                        <button class="btn btn-drop dropdown-toggle text-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            {{ book.get_status_display }}
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuBookStatus">
                                            <form action="{% url 'update_status' book.book.id %}?status=2"
                                                method="POST">
                                                {% csrf_token %}
                                                <button class="dropdown-item" type="submit" name="status"
                                                    value=2>Read</button>
                                            </form>
                                            <form action="{% url 'update_status' book.book.id %}?status=1"
                                                method="POST">
                                                {% csrf_token %}
                                                <button class="dropdown-item" type="submit" name="status"
                                                    value=1>Reading</button>
                                            </form>
                                            <form action="{% url 'update_status' book.book.id %}?status=0"
                                                method="POST">
                                                {% csrf_token %}
                                                <button class="dropdown-item" type="submit" name="status" value=0>
                                                    Not started</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Sorry. There are no books in this bookcase.</p>
        {% endfor %}
    </div>


    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if books.has_previous %}
            <li><a href="?page={{ books.previous_page_number }}" class="btn btn-color page-link">&laquo;
                    PREV </a></li>
            {% endif %}
            {% if books.has_next %}
            <li><a href="?page={{ books.next_page_number }}" class="btn btn-color page-link"> NEXT
                    &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
</div>

{%endblock%}
{%endif%}