{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row text-center">
        <div class="col mt-5">
            <h1>Hi {{ user.username }}, welcome to your bookcase!</h1>
        </div>
        <div class="row m-3 justify-content-center">
            {% for book in books %}
            <div class="card m-2 p-0" style="max-width: 400px;">
                <div class="row g-0">
                    <div class="col-md-6 align-self-center">
                        <img src="https://res.cloudinary.com/duz5vkvkt/image/upload/v1673118594/book_glasses_coffee_duifbx.jpg"
                            class="img-fluid rounded-start" alt="Image of Book">
                    </div>
                    <div class="col-md-6 align-self-center">
                        <div class="card-body">
                            <div class="row m-1">
                                <h4 class="book-title-bookcase"> {{ book.book }} </h4>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 p-1 text-end">
                                    <form action="{% url 'delete_book' book.book.id %}" method="POST">
                                        {% csrf_token %}
                                        <button class="btn btn-delete" type="submit" name="book"
                                            value="{{book.book.id}}">Delete</button>
                                    </form>
                                </div>
                                <div class="col-sm-7 p-1 text-start">
                                    <div class="dropdown">
                                        <button class="btn btn-drop dropdown-toggle text-center" type="button"
                                            id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            {{ book.get_status_display }}
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuBookStatus">
                                            <form action="{% url 'update_status' book.book.id %}?status=2"
                                                method="POST">
                                                {% csrf_token %}
                                                <button class="dropdown-item" type="submit" name="status"
                                                    value=2>Read</button>
                                            </form>
                                            <form action="{% url 'update_status' book.book.id %}?status=1"
                                                method="POST">
                                                {% csrf_token %}
                                                <button class="dropdown-item" type="submit" name="status"
                                                    value=1>Reading</button>
                                            </form>
                                            <form action="{% url 'update_status' book.book.id %}?status=0"
                                                method="POST">
                                                {% csrf_token %}
                                                <button class="dropdown-item" type="submit" name="status" value=0>
                                                    Not started</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>Sorry. There are no books in this bookcase.</p>
            {% endfor %}
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{%endblock%}